<div id="heading">
    <div id="headTitle">
        <i class="fas fa-poll fa-2x"></i>
        <h1>Voting Application</h1>
    </div>
    <div id="notifs">
        <div id="messageDiv">
            <div id="message">
                <% if (message != '') { %>
                    <%= message %>
                <% } else { %>
                    Notification Alerts Here
                <% } %> %>
            </div>
        </div>
    </div>
</div>