<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error 404</title>
    <link rel="stylesheet" href="/public/css/404.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css"
        integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="wrapper">
        <div class="main_content">
            <div class="info">
                <div id="heading" style="margin-left: 0;" ;">
                    <i class="fas fa-poll fa-2x"></i>
                    <h1>Voting Application</h1>
                </div>
                <div id="error-msg">Error 404!!</div>
                <div id="error-content">
                    Sorry, we couldn't grab that page! Try visiting
                    <a href="/dashboard"><i class="fas fa-home"></i><span class="symbolName">Dashboard</span></a>
                    </h2>
                </div>
            </div>
        </div>
</body>

</html>